:root {
    --red: #e62b1e;
    --black: #000000;
    --white: #ffffff;
    --dark: #121212;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--dark);
    color: var(--white);
    font-family: Helvetica;
}

@font-face {
    font-family: Helvetica;
    src: url('/fonts/FreeSans.ttf');
}

@font-face {
    font-family: Arial;
    src: url('/fonts/NimbusSansBeckerPBlaRegular.otf');
}

p {
    line-height: 1.5em;
    font-size: 14px;
}

span {
    color: var(--red);
}


/* footer */

footer {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    padding: 20px 0;
}

.social {
    padding: 10px;
    border-left: 1px solid #ffffff;
}

.social img {
    aspect-ratio: 1 / 1;
    width: 28px;
    margin: 5px;
    transition: all 500ms;
}

@media (hover) {
    .social img:hover {
        transform: translateY(-10px);
    }
}

@media screen and (max-width: 768px) {
    footer {
        flex-direction: column;
    }
    .social {
        margin: 30px 0 0;
        padding: 30px 0;
        width: 100%;
        border-left: none;
        border-top: 1px solid #ffffff;
        display: flex;
        justify-content: center;
    }
}